<div class="services-sec container-fluid">
  <div class="header-container">
    <h1 class="clients">
      <h1>S</h1>
      <h1>E</h1>
      <h1>R</h1>
      <h1>V</h1>
      <h1>I</h1>
      <h1>C</h1>
      <h1>E</h1>
      <h1>S</h1>
    </h1>

    <span class="our"><span class="highlight">O</span> ur</span>
  </div>

  <div class="cards-container row">
    <div class="card col-md-4">
      <h3>DIGITAL</h3>
      <span>MARKETING</span>
      <img src="../../assets/images/___ê___è_د__-i.png" alt="service image" />
    </div>

    <div class="card col-md-4">
      <h3>MEDIA</h3>
      <span>PRODUCTION</span>
      <img
        src="../../assets/images/_à_è_»_è_د-_ذ___ê_»_â____-i.png"
        alt="service image"
      />
    </div>

    <div class="card col-md-4">
      <h3>DIGITAL</h3>
      <span>MARKETING</span>
      <img src="../../assets/images/___ê___è_د__-i.png" alt="service image" />
    </div>
  </div>
</div>
