@font-face {
  font-family: "amatins+";
  src: url("../src/assets/fonts/amatins dafont.ttf");
}

@font-face {
  font-family: "jeko+";
  src: url("../src/assets/fonts/Jeko Variable.ttf");
}

body {
  padding: 0;
  background-color: #100f0f !important;
  overflow-x: hidden !important;
}

p {
  font-size: 16px;
  color: #fff;
}

h1,
h2 {
  color: #fff !important;
  font-weight: 600 !important;
  font-family: "jeko+" !important;
  font-size: 4rem !important;
}

.carousel-indicators button[type="button"] {
  background-color: #790404;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  transition: 0.1s ease-in-out;
}

.carousel-indicators button.active {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: red;
}

.carousel-control-next,
.carousel-control-prev {
  color: #790404;

  transition: 0.3s ease-in-out;
}



.carousel-control-next {
  right: -4rem;
}

.carousel-control-prev {
  left: -4rem;
}

@media (max-width: 768px) {
  .carousel-indicators button[type="button"] {
    height: 0.5rem;
    width: 0.5rem;
    margin-bottom: -8rem;
  }
  .carousel-control-next {
    right: -1rem;
  }

  .carousel-control-prev {
    left: -1rem;
  }
}
